In [1]:
import pandas as pd
import numpy as np

df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data1' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({'key': ['a', 'b' ,'d'],
                        'data2' : np.random.randint(0,10,3)})

print(df_obj1)
print('-'*50)
print(df_obj2)

  key  data1
0   b      9
1   b      1
2   a      7
3   c      2
4   a      6
5   a      8
6   b      5
--------------------------------------------------
  key  data2
0   a      8
1   b      9
2   d      0

In [2]:
pd.merge(df_obj1, df_obj2)
# 默认链接相同列名 内连接？

  key  data1  data2
0   b      9      9
1   b      1      9
2   a      7      8
3   a      6      8
4   a      8      8
5   b      5      9

In [3]:
pd.merge(df_obj1, df_obj2,left_index=True,right_index=True)
# 返回二者都有的 012行 并且相应对应

  key_x  data1 key_y  data2
0     b      9     a      8
1     b      1     b      9
2     a      7     d      0

In [4]:
pd.merge(df_obj1, df_obj2, on='key')
# 和pd.merge(df_obj1, df_obj2)效果相同

  key  data1  data2
0   b      9      9
1   b      1      9
2   a      7      8
3   a      6      8
4   a      8      8
5   b      5      9

In [6]:
df_obj1 = df_obj1.rename(columns={'key':'key1'})
df_obj2 = df_obj2.rename(columns={'key':'key2'})
df_obj1

  key1  data1
0    b      9
1    b      1
2    a      7
3    c      2
4    a      6
5    a      8
6    b      5

In [7]:
df_obj2

  key2  data2
0    a      8
1    b      9
2    d      0

In [8]:
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2')

  key1  data1 key2  data2
0    b      9    b      9
1    b      1    b      9
2    a      7    a      8
3    a      6    a      8
4    a      8    a      8
5    b      5    b      9

In [9]:
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2', how='outer')  #全外连接
# 会补上没有的key

  key1  data1 key2  data2
0    a    7.0    a    8.0
1    a    6.0    a    8.0
2    a    8.0    a    8.0
3    b    9.0    b    9.0
4    b    1.0    b    9.0
5    b    5.0    b    9.0
6    c    2.0  NaN    NaN
7  NaN    NaN    d    0.0

In [10]:
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2', how='left')
# 只向左靠近 左无右有的不会补nan

  key1  data1 key2  data2
0    b      9    b    9.0
1    b      1    b    9.0
2    a      7    a    8.0
3    c      2  NaN    NaN
4    a      6    a    8.0
5    a      8    a    8.0
6    b      5    b    9.0

In [11]:
# right等价于数据库的right join
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2', how='right')

  key1  data1 key2  data2
0    a    7.0    a      8
1    a    6.0    a      8
2    a    8.0    a      8
3    b    9.0    b      9
4    b    1.0    b      9
5    b    5.0    b      9
6  NaN    NaN    d      0

In [13]:
# 处理重复列名
df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({'key': ['a', 'b', 'd'],
                        'data' : np.random.randint(0,10,3)})
print(df_obj1)
print(df_obj2)
#给相同的数据列添加后缀
print(pd.merge(df_obj1, df_obj2, on='key', suffixes=('_left', '_right')))
# 内链接

  key  data
0   b     8
1   b     3
2   a     9
3   c     2
4   a     5
5   a     4
6   b     0
  key  data
0   a     4
1   b     0
2   d     6
  key  data_left  data_right
0   b          8           0
1   b          3           0
2   a          9           4
3   a          5           4
4   a          4           4
5   b          0           0

In [14]:
# 按索引连接
df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data1' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({'data2' : np.random.randint(0,10,3)}, index=['a', 'b', 'd'])
print(df_obj1)
print(df_obj2)

  key  data1
0   b      0
1   b      6
2   a      9
3   c      4
4   a      3
5   a      8
6   b      4
   data2
a      3
b      5
d      4

In [15]:
print(pd.merge(df_obj1, df_obj2, left_on='key', right_index=True))

  key  data1  data2
0   b      0      5
1   b      6      5
2   a      9      3
4   a      3      3
5   a      8      3
6   b      4      5