In [1]:
import pandas as pd
import numpy as np

In [2]:
df_obj = pd.DataFrame({'data1' : ['a'] * 4 + ['b'] * 4,
                       'data2' : np.random.randint(0, 4, 8)})
print(df_obj)

  data1  data2
0     a      3
1     a      2
2     a      0
3     a      3
4     b      1
5     b      1
6     b      2
7     b      3

In [3]:
print(df_obj.duplicated())

0    False
1    False
2    False
3     True
4    False
5     True
6    False
7    False
dtype: bool

In [ ]:
df_obj[~df_obj.duplicated()]

In [4]:
print(df_obj.duplicated('data2'))

0    False
1    False
2    False
3     True
4    False
5     True
6     True
7     True
dtype: bool

In [5]:
df_obj[~df_obj.duplicated('data2')]

  data1  data2
0     a      3
1     a      2
2     a      0
4     b      1

In [6]:
df_obj1 = pd.DataFrame({'data1' :[np.nan] * 4,
                       'data2' :list('1235')})
df_obj1

   data1 data2
0    NaN     1
1    NaN     2
2    NaN     3
3    NaN     5

In [7]:
df_obj1.duplicated('data1')

0    False
1     True
2     True
3     True
dtype: bool

In [8]:
print(df_obj.drop_duplicates())

  data1  data2
0     a      3
1     a      2
2     a      0
4     b      1
6     b      2
7     b      3

In [9]:
ser_obj = pd.Series(np.random.randint(0,10,10))  #series 用map
print(ser_obj)

print(ser_obj.map(lambda x : x ** 2))

0    0
1    9
2    1
3    0
4    4
5    7
6    6
7    5
8    3
9    1
dtype: int32
0     0
1    81
2     1
3     0
4    16
5    49
6    36
7    25
8     9
9     1
dtype: int64

In [10]:
#异常值手动替换
ser_obj=pd.Series(np.arange(10),index=range(3,13))
# 单个值替换单个值
print(ser_obj.replace(1, -100))
print('-' * 20)
# 多个值替换一个值
print(ser_obj.replace(range(6,9), -100))
print('-' * 20)
# 多个值替换多个值
print(ser_obj.replace([4, 7], [-100, -200]))

3       0
4    -100
5       2
6       3
7       4
8       5
9       6
10      7
11      8
12      9
dtype: int64
--------------------
3       0
4       1
5       2
6       3
7       4
8       5
9    -100
10   -100
11   -100
12      9
dtype: int64
--------------------
3       0
4       1
5       2
6       3
7    -100
8       5
9       6
10   -200
11      8
12      9
dtype: int64

In [12]:
df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                   'B': [5, 6, 7, 8, 9],
                   'C': ['a', 'b', 'ac', 'd', 'e']})
print(df)

   A  B   C
0  0  5   a
1  1  6   b
2  2  7  ac
3  3  8   d
4  4  9   e

In [14]:
df.replace(to_replace=r'^a',value=100,regex=True
           )
# 替换以a开头

   A  B    C
0  0  5  100
1  1  6    b
2  2  7  100
3  3  8    d
4  4  9    e