In [1]:
import time

from sklearn.datasets import load_iris, fetch_20newsgroups, fetch_california_housing
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report
from sklearn.feature_extraction import DictVectorizer
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score

In [2]:
li = load_iris()

print(li.data.shape)
print('-'*50)
print(li.target)
print('-' * 50)
print(li.DESCR)
print('-' * 50)
print(li.feature_names)  # 重点,特征名字
print('-' * 50)
print(li.target_names) # 目标名字

(150, 4)
--------------------------------------------------
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]
--------------------------------------------------
.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. dropdown:: References

  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
    Mathematical Statistics" (John Wiley, NY, 1950).
  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
    Structure and Classification Rule for Recognition in Partially Exposed
    Environments".  IEEE Transactions on Pattern Analysis and Machine
    Intelligence, Vol. PAMI-2, No. 1, 67-71.
  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
    on Information Theory, May 1972, 431-433.
  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
    conceptual clustering system finds 3 classes in the data.
  - Many, many more ...

--------------------------------------------------
['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
--------------------------------------------------
['setosa' 'versicolor' 'virginica']

In [3]:

print(dir(li))
x_train, x_test, y_train, y_test = train_test_split(li.data, li.target, test_size=0.25, random_state=1)
print(x_train.shape)
print(x_test.shape)
print(y_test.shape)

['DESCR', 'data', 'data_module', 'feature_names', 'filename', 'frame', 'target', 'target_names']
(112, 4)
(38, 4)
(38,)

In [4]:
news = fetch_20newsgroups(subset='all', data_home='data')

print(dir(news))

['DESCR', 'data', 'filenames', 'target', 'target_names']

In [5]:
print(news.target_names)

['alt.atheism', 'comp.graphics', 'comp.os.ms-windows.misc', 'comp.sys.ibm.pc.hardware', 'comp.sys.mac.hardware', 'comp.windows.x', 'misc.forsale', 'rec.autos', 'rec.motorcycles', 'rec.sport.baseball', 'rec.sport.hockey', 'sci.crypt', 'sci.electronics', 'sci.med', 'sci.space', 'soc.religion.christian', 'talk.politics.guns', 'talk.politics.mideast', 'talk.politics.misc', 'talk.religion.misc']

In [6]:
print(news.DESCR)

.. _20newsgroups_dataset:

The 20 newsgroups text dataset
------------------------------

The 20 newsgroups dataset comprises around 18000 newsgroups posts on
20 topics split in two subsets: one for training (or development)
and the other one for testing (or for performance evaluation). The split
between the train and test set is based upon a messages posted before
and after a specific date.

This module contains two loaders. The first one,
:func:`sklearn.datasets.fetch_20newsgroups`,
returns a list of the raw texts that can be fed to text feature
extractors such as :class:`~sklearn.feature_extraction.text.CountVectorizer`
with custom parameters so as to extract feature vectors.
The second one, :func:`sklearn.datasets.fetch_20newsgroups_vectorized`,
returns ready-to-use features, i.e., it is not necessary to use a feature
extractor.

**Data Set Characteristics:**

=================   ==========
Classes                     20
Samples total            18846
Dimensionality               1
Features                  text
=================   ==========

.. dropdown:: Usage

  The :func:`sklearn.datasets.fetch_20newsgroups` function is a data
  fetching / caching functions that downloads the data archive from
  the original `20 newsgroups website <http://people.csail.mit.edu/jrennie/20Newsgroups/>`__,
  extracts the archive contents
  in the ``~/scikit_learn_data/20news_home`` folder and calls the
  :func:`sklearn.datasets.load_files` on either the training or
  testing set folder, or both of them::

    >>> from sklearn.datasets import fetch_20newsgroups
    >>> newsgroups_train = fetch_20newsgroups(subset='train')

    >>> from pprint import pprint
    >>> pprint(list(newsgroups_train.target_names))
    ['alt.atheism',
     'comp.graphics',
     'comp.os.ms-windows.misc',
     'comp.sys.ibm.pc.hardware',
     'comp.sys.mac.hardware',
     'comp.windows.x',
     'misc.forsale',
     'rec.autos',
     'rec.motorcycles',
     'rec.sport.baseball',
     'rec.sport.hockey',
     'sci.crypt',
     'sci.electronics',
     'sci.med',
     'sci.space',
     'soc.religion.christian',
     'talk.politics.guns',
     'talk.politics.mideast',
     'talk.politics.misc',
     'talk.religion.misc']

  The real data lies in the ``filenames`` and ``target`` attributes. The target
  attribute is the integer index of the category::

    >>> newsgroups_train.filenames.shape
    (11314,)
    >>> newsgroups_train.target.shape
    (11314,)
    >>> newsgroups_train.target[:10]
    array([ 7,  4,  4,  1, 14, 16, 13,  3,  2,  4])

  It is possible to load only a sub-selection of the categories by passing the
  list of the categories to load to the
  :func:`sklearn.datasets.fetch_20newsgroups` function::

    >>> cats = ['alt.atheism', 'sci.space']
    >>> newsgroups_train = fetch_20newsgroups(subset='train', categories=cats)

    >>> list(newsgroups_train.target_names)
    ['alt.atheism', 'sci.space']
    >>> newsgroups_train.filenames.shape
    (1073,)
    >>> newsgroups_train.target.shape
    (1073,)
    >>> newsgroups_train.target[:10]
    array([0, 1, 1, 1, 0, 1, 1, 0, 0, 0])

.. dropdown:: Converting text to vectors

  In order to feed predictive or clustering models with the text data,
  one first need to turn the text into vectors of numerical values suitable
  for statistical analysis. This can be achieved with the utilities of the
  ``sklearn.feature_extraction.text`` as demonstrated in the following
  example that extract `TF-IDF <https://en.wikipedia.org/wiki/Tf-idf>`__ vectors
  of unigram tokens from a subset of 20news::

    >>> from sklearn.feature_extraction.text import TfidfVectorizer
    >>> categories = ['alt.atheism', 'talk.religion.misc',
    ...               'comp.graphics', 'sci.space']
    >>> newsgroups_train = fetch_20newsgroups(subset='train',
    ...                                       categories=categories)
    >>> vectorizer = TfidfVectorizer()
    >>> vectors = vectorizer.fit_transform(newsgroups_train.data)
    >>> vectors.shape
    (2034, 34118)

  The extracted TF-IDF vectors are very sparse, with an average of 159 non-zero
  components by sample in a more than 30000-dimensional space
  (less than .5% non-zero features)::

    >>> vectors.nnz / float(vectors.shape[0])
    159.01327...

  :func:`sklearn.datasets.fetch_20newsgroups_vectorized` is a function which
  returns ready-to-use token counts features instead of file names.

.. dropdown:: Filtering text for more realistic training

  It is easy for a classifier to overfit on particular things that appear in the
  20 Newsgroups data, such as newsgroup headers. Many classifiers achieve very
  high F-scores, but their results would not generalize to other documents that
  aren't from this window of time.

  For example, let's look at the results of a multinomial Naive Bayes classifier,
  which is fast to train and achieves a decent F-score::

    >>> from sklearn.naive_bayes import MultinomialNB
    >>> from sklearn import metrics
    >>> newsgroups_test = fetch_20newsgroups(subset='test',
    ...                                      categories=categories)
    >>> vectors_test = vectorizer.transform(newsgroups_test.data)
    >>> clf = MultinomialNB(alpha=.01)
    >>> clf.fit(vectors, newsgroups_train.target)
    MultinomialNB(alpha=0.01, class_prior=None, fit_prior=True)

    >>> pred = clf.predict(vectors_test)
    >>> metrics.f1_score(newsgroups_test.target, pred, average='macro')
    0.88213...

  (The example :ref:`sphx_glr_auto_examples_text_plot_document_classification_20newsgroups.py` shuffles
  the training and test data, instead of segmenting by time, and in that case
  multinomial Naive Bayes gets a much higher F-score of 0.88. Are you suspicious
  yet of what's going on inside this classifier?)

  Let's take a look at what the most informative features are:

    >>> import numpy as np
    >>> def show_top10(classifier, vectorizer, categories):
    ...     feature_names = vectorizer.get_feature_names_out()
    ...     for i, category in enumerate(categories):
    ...         top10 = np.argsort(classifier.coef_[i])[-10:]
    ...         print("%s: %s" % (category, " ".join(feature_names[top10])))
    ...
    >>> show_top10(clf, vectorizer, newsgroups_train.target_names)
    alt.atheism: edu it and in you that is of to the
    comp.graphics: edu in graphics it is for and of to the
    sci.space: edu it that is in and space to of the
    talk.religion.misc: not it you in is that and to of the


  You can now see many things that these features have overfit to:

  - Almost every group is distinguished by whether headers such as
    ``NNTP-Posting-Host:`` and ``Distribution:`` appear more or less often.
  - Another significant feature involves whether the sender is affiliated with
    a university, as indicated either by their headers or their signature.
  - The word "article" is a significant feature, based on how often people quote
    previous posts like this: "In article [article ID], [name] <[e-mail address]>
    wrote:"
  - Other features match the names and e-mail addresses of particular people who
    were posting at the time.

  With such an abundance of clues that distinguish newsgroups, the classifiers
  barely have to identify topics from text at all, and they all perform at the
  same high level.

  For this reason, the functions that load 20 Newsgroups data provide a
  parameter called **remove**, telling it what kinds of information to strip out
  of each file. **remove** should be a tuple containing any subset of
  ``('headers', 'footers', 'quotes')``, telling it to remove headers, signature
  blocks, and quotation blocks respectively.

    >>> newsgroups_test = fetch_20newsgroups(subset='test',
    ...                                      remove=('headers', 'footers', 'quotes'),
    ...                                      categories=categories)
    >>> vectors_test = vectorizer.transform(newsgroups_test.data)
    >>> pred = clf.predict(vectors_test)
    >>> metrics.f1_score(pred, newsgroups_test.target, average='macro')
    0.77310...

  This classifier lost over a lot of its F-score, just because we removed
  metadata that has little to do with topic classification.
  It loses even more if we also strip this metadata from the training data:

    >>> newsgroups_train = fetch_20newsgroups(subset='train',
    ...                                       remove=('headers', 'footers', 'quotes'),
    ...                                       categories=categories)
    >>> vectors = vectorizer.fit_transform(newsgroups_train.data)
    >>> clf = MultinomialNB(alpha=.01)
    >>> clf.fit(vectors, newsgroups_train.target)
    MultinomialNB(alpha=0.01, class_prior=None, fit_prior=True)

    >>> vectors_test = vectorizer.transform(newsgroups_test.data)
    >>> pred = clf.predict(vectors_test)
    >>> metrics.f1_score(newsgroups_test.target, pred, average='macro')
    0.76995...

  Some other classifiers cope better with this harder version of the task. Try the
  :ref:`sphx_glr_auto_examples_model_selection_plot_grid_search_text_feature_extraction.py`
  example with and without the `remove` option to compare the results.

.. rubric:: Data Considerations

The Cleveland Indians is a major league baseball team based in Cleveland,
Ohio, USA. In December 2020, it was reported that "After several months of
discussion sparked by the death of George Floyd and a national reckoning over
race and colonialism, the Cleveland Indians have decided to change their
name." Team owner Paul Dolan "did make it clear that the team will not make
its informal nickname -- the Tribe -- its new team name." "It's not going to
be a half-step away from the Indians," Dolan said."We will not have a Native
American-themed name."

https://www.mlb.com/news/cleveland-indians-team-name-change

.. rubric:: Recommendation

- When evaluating text classifiers on the 20 Newsgroups data, you
  should strip newsgroup-related metadata. In scikit-learn, you can do this
  by setting ``remove=('headers', 'footers', 'quotes')``. The F-score will be
  lower because it is more realistic.
- This text dataset contains data which may be inappropriate for certain NLP
  applications. An example is listed in the "Data Considerations" section
  above. The challenge with using current text datasets in NLP for tasks such
  as sentence completion, clustering, and other applications is that text
  that is culturally biased and inflammatory will propagate biases. This
  should be taken into consideration when using the dataset, reviewing the
  output, and the bias should be documented.

.. rubric:: Examples

* :ref:`sphx_glr_auto_examples_model_selection_plot_grid_search_text_feature_extraction.py`
* :ref:`sphx_glr_auto_examples_text_plot_document_classification_20newsgroups.py`
* :ref:`sphx_glr_auto_examples_text_plot_hashing_vs_dict_vectorizer.py`
* :ref:`sphx_glr_auto_examples_text_plot_document_clustering.py`

In [7]:
print(news.data[0])

From: Mamatha Devineni Ratnam <mr47+@andrew.cmu.edu>
Subject: Pens fans reactions
Organization: Post Office, Carnegie Mellon, Pittsburgh, PA
Lines: 12
NNTP-Posting-Host: po4.andrew.cmu.edu



I am sure some bashers of Pens fans are pretty confused about the lack
of any kind of posts about the recent Pens massacre of the Devils. Actually,
I am  bit puzzled too and a bit relieved. However, I am going to put an end
to non-PIttsburghers' relief with a bit of praise for the Pens. Man, they
are killing those Devils worse than I thought. Jagr just showed you why
he is much better than his regular season stats. He is also a lot
fo fun to watch in the playoffs. Bowman should let JAgr have a lot of
fun in the next couple of games since the Pens are going to beat the pulp out of Jersey anyway. I was very disappointed not to see the Islanders lose the final
regular season game.          PENS RULE!!!

In [8]:
print(news.target[0:10])
from pprint import pprint
pprint(news.target_names)

[10  3 17  3  4 12  4 10 10 19]
['alt.atheism',
 'comp.graphics',
 'comp.os.ms-windows.misc',
 'comp.sys.ibm.pc.hardware',
 'comp.sys.mac.hardware',
 'comp.windows.x',
 'misc.forsale',
 'rec.autos',
 'rec.motorcycles',
 'rec.sport.baseball',
 'rec.sport.hockey',
 'sci.crypt',
 'sci.electronics',
 'sci.med',
 'sci.space',
 'soc.religion.christian',
 'talk.politics.guns',
 'talk.politics.mideast',
 'talk.politics.misc',
 'talk.religion.misc']

In [9]:
len(news.target_names)

20

In [10]:
data = pd.read_csv("./data/FBlocation/train.csv")

In [11]:
print(data.head(10))

print(data.info())

   row_id       x       y  accuracy    time    place_id
0       0  0.7941  9.0809        54  470702  8523065625
1       1  5.9567  4.7968        13  186555  1757726713
2       2  8.3078  7.0407        74  322648  1137537235
3       3  7.3665  2.5165        65  704587  6567393236
4       4  4.0961  1.1307        31  472130  7440663949
5       5  3.8099  1.9586        75  178065  6289802927
6       6  6.3336  4.3720        13  666829  9931249544
7       7  5.7409  6.7697        85  369002  5662813655
8       8  4.3114  6.9410         3  166384  8471780938
9       9  6.3414  0.0758        65  400060  1253803156
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29118021 entries, 0 to 29118020
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   row_id    int64
 1   x         float64
 2   y         float64
 3   accuracy  int64
 4   time      int64
 5   place_id  int64
dtypes: float64(2), int64(4)
memory usage: 1.3 GB
None

In [12]:
print(data.x.mean())
print(data.y.mean())
data = data.query("x > 4.75 &  x < 5.25 & y > 4.75 & y < 5.25")

4.9997698306626
5.001813928553055

In [13]:
print(data.shape)

(75891, 6)

In [14]:
data.describe()

,row_id,x,y,accuracy,time,place_id
count,7.589100e+04,75891.000000,75891.000000,75891.000000,75891.000000,7.589100e+04
mean,1.450603e+07,5.000695,4.985480,83.327377,428141.448327,5.386694e+09
std,8.419184e+06,0.137186,0.139795,115.914519,231069.558169,2.607560e+09
min,1.040000e+02,4.750100,4.750100,1.000000,53.000000,1.001545e+09
25%,7.225004e+06,4.893400,4.875600,27.000000,215952.000000,3.160798e+09
50%,1.444604e+07,5.006300,4.970200,62.000000,455228.000000,5.482696e+09
75%,2.180443e+07,5.113100,5.096250,76.000000,635170.500000,7.610388e+09
max,2.911720e+07,5.249900,5.249900,1017.000000,786237.000000,9.994646e+09

In [15]:
time_value = pd.to_datetime(data['time'],unit='s')

print(time_value.head(10))

104    1970-01-05 07:01:38
436    1970-01-09 08:58:54
692    1970-01-09 18:12:54
758    1970-01-04 10:14:15
958    1970-01-07 20:11:53
1345   1970-01-02 15:34:29
1584   1970-01-01 12:10:04
1720   1970-01-07 04:07:12
2493   1970-01-09 07:55:00
2498   1970-01-08 07:00:02
Name: time, dtype: datetime64[ns]

In [16]:
time_value = pd.DatetimeIndex(time_value)
#
print('-' * 50)
print(time_value[0:10])

--------------------------------------------------
DatetimeIndex(['1970-01-05 07:01:38', '1970-01-09 08:58:54',
               '1970-01-09 18:12:54', '1970-01-04 10:14:15',
               '1970-01-07 20:11:53', '1970-01-02 15:34:29',
               '1970-01-01 12:10:04', '1970-01-07 04:07:12',
               '1970-01-09 07:55:00', '1970-01-08 07:00:02'],
              dtype='datetime64[ns]', name='time', freq=None)

In [17]:
data.shape

(75891, 6)

In [18]:
print('-' * 50)
# 构造一些特征，执行的警告是因为我们的操作是复制，loc是直接放入
print(type(data))
# data['day'] = time_value.day
# data['hour'] = time_value.hour
# data['weekday'] = time_value.weekday
#日期，是否是周末，小时对于个人行为的影响是较大的(例如吃饭时间去饭店，看电影时间去电影院等),所以才做下面的处理
data.insert(data.shape[1], 'day', time_value.day) #data.shape[1]是代表插入到最后的意思,一个月的哪一天
data.insert(data.shape[1], 'hour', time_value.hour)#是否去一个地方打卡，早上，中午，晚上是有影响的
data.insert(data.shape[1], 'weekday', time_value.weekday) #0代表周一，6代表周日，星期几

#
# 把时间戳特征删除
# data = data.drop(['time'], axis=1)
print('-' * 50)
data.head()

--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
--------------------------------------------------

     row_id       x       y  accuracy    time    place_id  day  hour  weekday
104     104  4.7734  4.9670        70  370898  6090451045    5     7        0
436     436  4.8181  5.2250       187  723534  2351552579    9     8        4
692     692  4.9818  4.8174       159  756774  6813562091    9    18        4
758     758  4.9171  4.7810        55  296055  4186983049    4    10        6
958     958  4.7929  5.2194        66  591113  5590742146    7    20        2

In [19]:
data = data.drop(['time'], axis=1)

In [20]:
print('-' * 50)
data.head()

--------------------------------------------------

     row_id       x       y  accuracy    place_id  day  hour  weekday
104     104  4.7734  4.9670        70  6090451045    5     7        0
436     436  4.8181  5.2250       187  2351552579    9     8        4
692     692  4.9818  4.8174       159  6813562091    9    18        4
758     758  4.9171  4.7810        55  4186983049    4    10        6
958     958  4.7929  5.2194        66  5590742146    7    20        2

In [21]:
per = pd.Period('2025-01-10 18:00', 'h')
per.weekday

4

In [22]:
data.describe()

,row_id,x,y,accuracy,place_id,day,hour,weekday
count,7.589100e+04,75891.000000,75891.000000,75891.000000,7.589100e+04,75891.000000,75891.000000,75891.000000
mean,1.450603e+07,5.000695,4.985480,83.327377,5.386694e+09,5.453822,11.534582,3.130832
std,8.419184e+06,0.137186,0.139795,115.914519,2.607560e+09,2.675848,6.889721,1.716691
min,1.040000e+02,4.750100,4.750100,1.000000,1.001545e+09,1.000000,0.000000,0.000000
25%,7.225004e+06,4.893400,4.875600,27.000000,3.160798e+09,3.000000,6.000000,2.000000
50%,1.444604e+07,5.006300,4.970200,62.000000,5.482696e+09,6.000000,12.000000,3.000000
75%,2.180443e+07,5.113100,5.096250,76.000000,7.610388e+09,8.000000,17.000000,4.000000
max,2.911720e+07,5.249900,5.249900,1017.000000,9.994646e+09,10.000000,23.000000,6.000000

In [23]:
place_count = data.groupby('place_id').count()
place_count

            row_id    x    y  accuracy  day  hour  weekday
place_id
1001545007     237  237  237       237  237   237      237
1002348164       3    3    3         3    3     3        3
1005591477       4    4    4         4    4     4        4
1007275693       4    4    4         4    4     4        4
1010622056       2    2    2         2    2     2        2
...            ...  ...  ...       ...  ...   ...      ...
9983635085       1    1    1         1    1     1        1
9985697651     491  491  491       491  491   491      491
9987944667       1    1    1         1    1     1        1
9992656249      11   11   11        11   11    11       11
9994646421       1    1    1         1    1     1        1

[2734 rows x 7 columns]

In [24]:
place_count['x'].describe() #打卡地点总计805个，50%打卡小于2次

count    2734.000000
mean       27.758230
std        90.169672
min         1.000000
25%         1.000000
50%         2.000000
75%         7.000000
max      1036.000000
Name: x, dtype: float64

In [25]:
# # 把index变为0,1,2，3,4,5,6这种效果，从零开始排，原来的index是row_id
#只选择去的人大于3的数据，认为1,2,3的是噪音，这个地方去的人很少，不用推荐给其他人
tf = place_count[place_count.row_id > 3].reset_index()
tf  #剩余的签到地点

        place_id  row_id    x    y  accuracy  day  hour  weekday
0     1001545007     237  237  237       237  237   237      237
1     1005591477       4    4    4         4    4     4        4
2     1007275693       4    4    4         4    4     4        4
3     1022883619      80   80   80        80   80    80       80
4     1027262572      12   12   12        12   12    12       12
...          ...     ...  ...  ...       ...  ...   ...      ...
1022  9975071447      18   18   18        18   18    18       18
1023  9980296599      93   93   93        93   93    93       93
1024  9980390826       4    4    4         4    4     4        4
1025  9985697651     491  491  491       491  491   491      491
1026  9992656249      11   11   11        11   11    11       11

[1027 rows x 8 columns]

In [26]:
data = data[data['place_id'].isin(tf.place_id)]
data.shape

(73361, 8)

In [27]:
# # 取出数据当中的特征值和目标值
y = data['place_id']
# 删除目标值，保留特征值，
x = data.drop(['place_id'], axis=1)
# 删除无用的特征值，row_id是索引,这就是噪音
x = x.drop(['row_id'], axis=1)
print(x.shape)
print(x.columns)

(73361, 6)
Index(['x', 'y', 'accuracy', 'day', 'hour', 'weekday'], dtype='object')

In [28]:
data.head(10)

      row_id       x       y  accuracy    place_id  day  hour  weekday
104      104  4.7734  4.9670        70  6090451045    5     7        0
436      436  4.8181  5.2250       187  2351552579    9     8        4
758      758  4.9171  4.7810        55  4186983049    4    10        6
958      958  4.7929  5.2194        66  5590742146    7    20        2
1345    1345  4.9616  5.1462       138  9985697651    2    15        4
1584    1584  5.0483  5.2350        11  6040005167    1    12        3
1720    1720  4.8576  4.9097        93  3160797694    7     4        2
2493    2493  5.2022  4.7949        96  4761435235    9     7        4
2498    2498  5.0388  4.9266        57  6548967520    8     7        3
2864    2864  4.7964  4.8556        69  1133139682    6    23        1

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=1)

In [30]:
std = StandardScaler()

x_train = std.fit_transform(x_train)

print(std.mean_)
print(std.var_)

[ 5.00081594  4.98491088 82.75910578  5.44834606 11.56125045  3.13167939]
[1.87191575e-02 1.94353667e-02 1.29497614e+04 7.16525263e+00
 4.73590074e+01 2.93811310e+00]

In [31]:
x_test = std.transform(x_test)

print(std.mean_)
print(std.var_)

[ 5.00081594  4.98491088 82.75910578  5.44834606 11.56125045  3.13167939]
[1.87191575e-02 1.94353667e-02 1.29497614e+04 7.16525263e+00
 4.73590074e+01 2.93811310e+00]

In [32]:
x_train.shape

(55020, 6)

In [33]:
knn = KNeighborsClassifier(n_neighbors=3)

knn.fit(x_train,y_train)

y_predict = knn.predict(x_test)

print("预测目标位置为",y_predict[0:10])

print("准确率为", knn.score(x_test,y_test))

预测目标位置为 [1316947488 5638932173 1589771672 1479064016 1231669858 3350759175
 9130062755 8553556012 7103518808 2008977810]
准确率为 0.3202115478981517

In [34]:
# #网格搜索时讲解
# # # 构造一些参数（超参）的值进行搜索
# param = {"n_neighbors": [3, 5, 10, 12, 15],'weights':['uniform', 'distance']}
# #
# # 进行网格搜索，cv=3是3折交叉验证，用其中2折训练，1折验证
# gc = GridSearchCV(knn, param_grid=param, cv=3)
# 
# gc.fit(x_train, y_train)  #你给它的x_train，它又分为训练集，验证集
# 
# # 预测准确率，为了给大家看看
# print("在测试集上准确率：", gc.score(x_test, y_test))
# 
# print("在交叉验证当中最好的结果：", gc.best_score_) #最好的结果
# 
# print("选择最好的模型是：", gc.best_estimator_) #最好的模型,告诉你用了哪些参数
# 
# print("每个超参数每次交叉验证的结果：")
# gc.cv_results_

In [35]:
"""
朴素贝叶斯进行文本分类
:return: None
"""

'\n朴素贝叶斯进行文本分类\n:return: None\n'

In [36]:
news = fetch_20newsgroups(subset='all', data_home='data')

In [37]:
print('-'*50)
# 进行数据分割
x_train, x_test, y_train, y_test = train_test_split(news.data, news.target, test_size=0.25, random_state=1)

# 对数据集进行特征抽取
tf = TfidfVectorizer()

# 以训练集当中的词的列表进行每篇文章重要性统计['a','b','c','d']
x_train = tf.fit_transform(x_train)
#针对特征内容，可以自行打印，下面的打印可以得到特征数目，总计有15万特征
print(len(tf.get_feature_names_out()))

--------------------------------------------------
153196

In [38]:
print(tf.get_feature_names_out())

['00' '000' '0000' ... 'ñaustin' 'ýé' 'ÿhooked']

In [39]:
print(tf.get_feature_names_out()[0:10])

['00' '000' '0000' '00000' '0000000004' '0000000005' '0000000667'
 '0000001200' '000003' '000005102000']

In [40]:
print(tf.get_feature_names_out()[100000:100000+10])

['murky' 'murmurs' 'murnane' 'murph' 'murphey' 'murphy' 'murr11' 'murray'
 'murray_craven' 'murrayfield']

In [41]:
import time

mlt = MultinomialNB(alpha=1.0)

start=time.time()
mlt.fit(x_train, y_train) #训练模型
end=time.time()
end-start #统计训练时间

0.08351421356201172

In [42]:
x_transform_test = tf.transform(x_test)  #特征数目不发生改变
print(len(tf.get_feature_names_out())) #查看特征数目

153196

In [43]:
x_transform_test.shape

(4712, 153196)

In [44]:
start=time.time()
y_predict = mlt.predict(x_transform_test)

print("预测的前面10篇文章类别为：", y_predict[0:10])

# 得出准确率,这个是很难提高准确率，为什么呢？
print("准确率为：", mlt.score(x_transform_test, y_test))
end=time.time()
end-start #预测时间

预测的前面10篇文章类别为： [16 19 18  1  9 15  1  2 16 13]
准确率为： 0.8518675721561969

0.028508424758911133

In [45]:
len(y_predict)

4712

In [46]:
print(classification_report(y_test, y_predict,
      target_names=news.target_names))

                          precision    recall  f1-score   support

             alt.atheism       0.91      0.77      0.83       199
           comp.graphics       0.83      0.79      0.81       242
 comp.os.ms-windows.misc       0.89      0.83      0.86       263
comp.sys.ibm.pc.hardware       0.80      0.83      0.81       262
   comp.sys.mac.hardware       0.90      0.88      0.89       234
          comp.windows.x       0.92      0.85      0.88       230
            misc.forsale       0.96      0.67      0.79       257
               rec.autos       0.90      0.87      0.88       265
         rec.motorcycles       0.90      0.95      0.92       251
      rec.sport.baseball       0.89      0.96      0.93       226
        rec.sport.hockey       0.95      0.98      0.96       262
               sci.crypt       0.76      0.97      0.85       257
         sci.electronics       0.84      0.80      0.82       229
                 sci.med       0.97      0.86      0.91       249
               sci.space       0.92      0.96      0.94       256
  soc.religion.christian       0.55      0.98      0.70       243
      talk.politics.guns       0.76      0.96      0.85       234
   talk.politics.mideast       0.93      0.99      0.96       224
      talk.politics.misc       0.98      0.56      0.72       197
      talk.religion.misc       0.97      0.26      0.41       132

                accuracy                           0.85      4712
               macro avg       0.88      0.84      0.84      4712
            weighted avg       0.87      0.85      0.85      4712

In [47]:
del news
del x_train
del x_test
del y_test
del y_predict
del tf

# 决策树

In [48]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.feature_extraction import DictVectorizer
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np

In [50]:
"""
决策树对泰坦尼克号进行预测生死
:return: None
"""
# 获取数据
titan = pd.read_csv("./data/titanic.txt")
titan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   row.names  1313 non-null   int64
 1   pclass     1313 non-null   object
 2   survived   1313 non-null   int64
 3   name       1313 non-null   object
 4   age        633 non-null    float64
 5   embarked   821 non-null    object
 6   home.dest  754 non-null    object
 7   room       77 non-null     object
 8   ticket     69 non-null     object
 9   boat       347 non-null    object
 10  sex        1313 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 113.0+ KB

In [51]:
# 处理数据，找出特征值和目标值
x = titan[['pclass', 'age', 'sex']]

y = titan['survived']
print(x.info())  # 用来判断是否有空值
x.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pclass  1313 non-null   object
 1   age     633 non-null    float64
 2   sex     1313 non-null   object
dtypes: float64(1), object(2)
memory usage: 30.9+ KB
None

       pclass         age   sex
count    1313  633.000000  1313
unique      3         NaN     2
top       3rd         NaN  male
freq      711         NaN   850
mean      NaN   31.194181   NaN
std       NaN   14.747525   NaN
min       NaN    0.166700   NaN
25%       NaN   21.000000   NaN
50%       NaN   30.000000   NaN
75%       NaN   41.000000   NaN
max       NaN   71.000000   NaN

In [53]:
mean = x['age'].mean()

x.loc[:,'age'] = x.loc[:,'age'].fillna(mean)

In [54]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pclass  1313 non-null   object
 1   age     1313 non-null   float64
 2   sex     1313 non-null   object
dtypes: float64(1), object(2)
memory usage: 30.9+ KB

In [67]:
# 分割数据集到训练集合测试集
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=4)
print(x_train.head())

    pclass        age     sex
598    2nd  30.000000    male
246    1st  62.000000    male
905    3rd  31.194181  female
300    1st  31.194181  female
509    2nd  64.000000    male

In [68]:
x_train.to_dict(orient="records") #把df变为字典，样本变为一个一个的字典，字典中列名变为键
x_train_dict = x_train.to_dict(orient="records")

In [69]:
dict = DictVectorizer(sparse=False)

x_train = dict.fit_transform(x_train_dict)

dict.get_feature_names_out()

x_test = dict.transform(x_test.to_dict(orient = "records"))

In [70]:
print(x_train)

[[30.          0.          1.          0.          0.          1.        ]
 [62.          1.          0.          0.          0.          1.        ]
 [31.19418104  0.          0.          1.          1.          0.        ]
 ...
 [34.          0.          1.          0.          0.          1.        ]
 [46.          1.          0.          0.          0.          1.        ]
 [31.19418104  0.          0.          1.          0.          1.        ]]

In [71]:
dec = DecisionTreeClassifier()

dec.fit(x_train,y_train)

print("预测准确率为：",dec.score(x_test,y_test))

export_graphviz(dec, out_file="tree.dot",
                feature_names=['age', 'pclass=1st', 'pclass=2nd', 'pclass=3rd', 'female', 'male'])

预测准确率为： 0.8085106382978723

# 随机森林

In [72]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=4)
# 进行处理（特征工程）特征-》类别-》one_hot编码
dict = DictVectorizer(sparse=False)

# 这一步是对字典进行特征抽取
x_train = dict.fit_transform(x_train.to_dict(orient="records"))
x_test = dict.transform(x_test.to_dict(orient="records"))

In [73]:
rf = RandomForestClassifier(n_jobs=-1)

param = {"n_estimators": [1500,2000, 5000], "max_depth": [2, 3, 5, 8, 15, 25]}

gc = GridSearchCV(rf, param_grid=param, cv=3)

gc.fit(x_train,y_train)

print("预测准确率为：",gc.score(x_test,y_test))

print("查看选择的参数模型：", gc.best_params_)

print("选择最好的模型是：", gc.best_estimator_)

print("每个超参数每次交叉验证的结果：", gc.cv_results_)

预测准确率为： 0.8328267477203647
查看选择的参数模型： {'max_depth': 3, 'n_estimators': 2000}
选择最好的模型是： RandomForestClassifier(max_depth=3, n_estimators=2000, n_jobs=-1)
每个超参数每次交叉验证的结果： {'mean_fit_time': array([1.47953606, 1.83306464, 4.55048092, 1.34843755, 1.81737447,
       4.55736407, 1.4023393 , 1.83090591, 4.59407353, 1.36466575,
       1.86555092, 4.58025694, 1.39966353, 1.83405129, 4.68366528,
       1.41123199, 1.83766993, 4.63475037]), 'std_fit_time': array([0.0250128 , 0.01903292, 0.02817759, 0.01336598, 0.00782201,
       0.03492598, 0.01918664, 0.01124457, 0.03208695, 0.00527899,
       0.01124283, 0.04801832, 0.02967873, 0.00348793, 0.09342915,
       0.02444275, 0.02107575, 0.03265068]), 'mean_score_time': array([0.1364971 , 0.17736522, 0.43462253, 0.1398197 , 0.18152785,
       0.43029769, 0.14237046, 0.17891264, 0.4544042 , 0.14178594,
       0.18426752, 0.42663471, 0.13644735, 0.17994666, 0.45262074,
       0.15030471, 0.17975553, 0.45427871]), 'std_score_time': array([0.00546097, 0.01035702, 0.01271324, 0.00017744, 0.01444461,
       0.0148477 , 0.00988107, 0.01041852, 0.01271164, 0.00468064,
       0.00533759, 0.00954542, 0.00489253, 0.00875627, 0.02560861,
       0.01443604, 0.00108037, 0.01069384]), 'param_max_depth': masked_array(data=[2, 2, 2, 3, 3, 3, 5, 5, 5, 8, 8, 8, 15, 15, 15, 25, 25,
                   25],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False],
       fill_value=999999), 'param_n_estimators': masked_array(data=[1500, 2000, 5000, 1500, 2000, 5000, 1500, 2000, 5000,
                   1500, 2000, 5000, 1500, 2000, 5000, 1500, 2000, 5000],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False],
       fill_value=999999), 'params': [{'max_depth': 2, 'n_estimators': 1500}, {'max_depth': 2, 'n_estimators': 2000}, {'max_depth': 2, 'n_estimators': 5000}, {'max_depth': 3, 'n_estimators': 1500}, {'max_depth': 3, 'n_estimators': 2000}, {'max_depth': 3, 'n_estimators': 5000}, {'max_depth': 5, 'n_estimators': 1500}, {'max_depth': 5, 'n_estimators': 2000}, {'max_depth': 5, 'n_estimators': 5000}, {'max_depth': 8, 'n_estimators': 1500}, {'max_depth': 8, 'n_estimators': 2000}, {'max_depth': 8, 'n_estimators': 5000}, {'max_depth': 15, 'n_estimators': 1500}, {'max_depth': 15, 'n_estimators': 2000}, {'max_depth': 15, 'n_estimators': 5000}, {'max_depth': 25, 'n_estimators': 1500}, {'max_depth': 25, 'n_estimators': 2000}, {'max_depth': 25, 'n_estimators': 5000}], 'split0_test_score': array([0.73780488, 0.73780488, 0.73780488, 0.80182927, 0.80182927,
       0.80182927, 0.81097561, 0.81097561, 0.81097561, 0.82012195,
       0.82012195, 0.82012195, 0.82012195, 0.81402439, 0.82012195,
       0.82012195, 0.82012195, 0.82012195]), 'split1_test_score': array([0.82317073, 0.82621951, 0.82621951, 0.82012195, 0.82317073,
       0.82317073, 0.81402439, 0.81402439, 0.81402439, 0.80792683,
       0.80792683, 0.80792683, 0.81707317, 0.81402439, 0.81402439,
       0.81707317, 0.81097561, 0.81402439]), 'split2_test_score': array([0.81707317, 0.81707317, 0.81707317, 0.82926829, 0.82926829,
       0.82926829, 0.82317073, 0.82317073, 0.82317073, 0.79268293,
       0.79268293, 0.79268293, 0.79573171, 0.79573171, 0.79573171,
       0.79573171, 0.79573171, 0.79573171]), 'mean_test_score': array([0.79268293, 0.79369919, 0.79369919, 0.81707317, 0.81808943,
       0.81808943, 0.81605691, 0.81605691, 0.81605691, 0.80691057,
       0.80691057, 0.80691057, 0.81097561, 0.80792683, 0.80995935,
       0.81097561, 0.80894309, 0.80995935]), 'std_test_score': array([0.0388844 , 0.03969924, 0.03969924, 0.01140749, 0.01176406,
       0.01176406, 0.00518193, 0.00518193, 0.00518193, 0.01122496,
       0.01122496, 0.01122496, 0.01085069, 0.00862325, 0.01036386,
       0.01085069, 0.01006046, 0.01036386]), 'rank_test_score': array([18, 16, 16,  3,  1,  1,  4,  4,  4, 13, 13, 13,  7, 12,  9,  7, 11,
        9], dtype=int32)}